# Who owns all the fish by default
* @DrZlo13 @hedger @gornekich

/air_arkanoid @DrZlo13 @hedger @gornekich
/air_mouse @DrZlo13 @hedger @nminaylov @gornekich
/avr_isp_programmer @DrZlo13 @hedger @Skorpionm @gornekich
/clock @DrZlo13 @hedger @gornekich
/dap_link @DrZlo13 @hedger @gornekich
/flip_tdi @DrZlo13 @hedger @Skorpionm @gornekich
/mass_storage @DrZlo13 @hedger @nminaylov @gornekich
/mfkey @DrZlo13 @hedger @gornekich
/music_player @DrZlo13 @hedger @gornekich
/nfc_magic @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @DrZlo13 @hedger @gornekich
/signal_generator @DrZlo13 @hedger @nminaylov @gornekich
/spi_mem_manager @DrZlo13 @hedger @gornekich
/video_game_module_tool @DrZlo13 @hedger @gsurkov @gornekich
/weather_station @DrZlo13 @hedger @Skorpionm @gornekich
