# Who owns all the fish by default
* @DrZlo13 @hedger @gornekich @xMasterX

/air_arkanoid @DrZlo13 @hedger @gornekich @xMasterX
/air_mouse @DrZlo13 @hedger @nminaylov @gornekich @xMasterX
/avr_isp_programmer @DrZlo13 @hedger @Skorpionm @gornekich @xMasterX
/clock @DrZlo13 @hedger @gornekich @xMasterX
/dap_link @DrZlo13 @hedger @gornekich @xMasterX
/flip_tdi @DrZlo13 @hedger @Skorpionm @gornekich @xMasterX
/mass_storage @DrZlo13 @hedger @nminaylov @gornekich @xMasterX
/mfkey @DrZlo13 @hedger @gornekich @xMasterX
/music_player @DrZlo13 @hedger @gornekich @xMasterX
/nfc_magic @DrZlo13 @hedger @gornekich @xMasterX
/nfc_rfid_detector @DrZlo13 @hedger @gornekich @xMasterX
/signal_generator @DrZlo13 @hedger @nminaylov @gornekich @xMasterX
/spi_mem_manager @DrZlo13 @hedger @gornekich @xMasterX
/video_game_module_tool @DrZlo13 @hedger @gsurkov @gornekich @xMasterX
/weather_station @DrZlo13 @hedger @Skorpionm @gornekich @xMasterX
